article .content .trams-figure {
	background: url(/i/trams/trams-960__new.png) no-repeat;
	margin-bottom: 1.25em;
}

@media screen and (max-width: 980px) {
	.trams-figure {
		background-size: 100% !important;
	}
}

@media 
(-webkit-min-device-pixel-ratio: 1.5), 
(min-resolution: 144dpi) {
	.trams-figure {
		background: url(/i/trams/trams-960__new@2x.jpg) no-repeat;
		background-size: 960px 682px;
	}
}