body {
	background-color: #fff;
	color: #333;
	font-size: 16px;
	line-height: 1.5625;
	font-family: 'PT Sans', 'Helvetica Neue', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
	line-height: 1.2;
	font-family: 'PT Serif', Georgia, serif;
}

h1 {
	font-size: 30px;
	font-weight: bold;
	color: #222;
}

h2 {
	font-size: 18px;
	margin-bottom: 1em;
}

a {
	color: #c33134;
	text-decoration: none;
	-webkit-transition: color 0.2s ease-out;
	-moz-transition: color 0.2s ease-out;
	-ms-transition: color 0.2s ease-out;
	-o-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
}

a:hover {
	/*text-decoration: underline;*/
	color: #0071d1;
}

h1 a {
	color: #222;
}

p {
	margin: 0 0 1em;
}

p.headline {
	font-size: 21px;
}

blockquote {
	margin: 1em 0 1em 5px;
	padding-left: 1em;
	border-left: 5px solid #eceae5;
	font-family: 'PT Sans';
}



.container {
	width: 640px;
	margin: 0 auto;
	padding: 0 20px;
}


header[role="banner"] {
	margin: 25px 0 80px;
	padding-bottom: 6px;
	border-bottom: 1px solid #eceae5; 
}

header[role="banner"] .logo {
	display: inline-block;
	width: 77px;
	height: 37px;
	background: url(../i/logo.png) no-repeat 0 0;
	margin-right: 30px;
	margin-bottom: 15px;
	
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

header[role="banner"] .logo:hover {
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);
	transform: translateY(-2px);
}

header .intro {
	position: relative;
	display: inline-block;
	font-size: 0.9em;
	margin-top: 0.25em;
	vertical-align: top;
	color: #646464;
	-webkit-animation: fadein .7s forwards ease-in-out;
	-o-animation: fadein .7s forwards ease-in-out;
	animation: fadein .7s forwards ease-in-out;

	-webkit-animation-delay: .3s;
	-moz-animation-delay: .3s;
	animation-delay: .3s;
}

@-webkit-keyframes fadein {
	from {
		-webkit-transform: translateX(-20px);
		opacity: 0;
	}
	to {
		-webkit-transform: translateY(0);
		opacity: 1;
	}
}

@-moz-keyframes fadein {
	from {
		-webkit-transform: translateX(-20px);
		opacity: 0;
	}
	to {
		-webkit-transform: translateY(0);
		opacity: 1;
	}
}

@keyframes {
	from {
		-webkit-transform: translateX(-20px);
		opacity: 0;
	}
	to {
		-webkit-transform: translateY(0);
		opacity: 1;
	}
}


article {
	margin-bottom: 40px;
}


article header {
	text-align: center;
	margin-bottom: 1.5em;
}

article header p {
	margin: 0;
}

article header time {
	color: #96887d;
	font-size: 14px;
	font-family: 'PT Sans', sans-serif;
}

article h1 {
	margin: 0;
}

article h2 {
	margin-top: 1.5em;
}

article div.embed {
	margin: 1em 0 2em;
}

article img {
	border-radius: 5px;
}


article .content figure {
	margin: 1em 0 1.25em;
	text-align: center;
}

article .content figure.wide {
	width: 100%;
}

article .content figure img {
	max-width: 100%;
}

article .content figure.wide img {
	display: block;
	width: 100%;
	height: auto;
}

article .content figure figcaption {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 1em;
	font-style: italic; 
}


.post-footer {
	margin-top: 50px;
	/*font-size: 0.875em;*/
	font-family: 'PT Sans', sans-serif;
	font-size: 0.85em;
}

.post-footer .anything-to-add {
	color: #777;
	margin: 2em -20px 0;
	border-top: 1px solid #eee;
	padding: 1em 20px 0;
	
	/*font-style: italic;*/
	/*margin: 1em 0 2em;*/
}

.post-footer .actions {
	overflow: hidden;
}

.post-footer .actions .back {
	float: left;
	margin-top: 3px;
}


.post-footer .actions .share {
	float: right;
}

.share .tweet {
	background: url(../i/twitter.png) no-repeat left center;
	padding-left: 22px;
	color: #00acee;
	display: inline-block;
}

footer[role="footer"] {
	border-top: 1px solid #eceae5;
	background-color: #fcfbf7;
	margin-top: 30px;
}

footer[role="footer"] .container {
	position: relative;
}

a.rss-subscriber {
	background-color: #f90;
	color: #fff;
	border-radius: 3px;
	padding: 0.1em 0.3em 0.1em 0.4em;
	letter-spacing: 0.2em;
	font-size: 14px;
}

footer[role="footer"] a.rss-subscriber {
	position: absolute;
	top: 25px;
	right: 20px;
}

.bio {
	font-size: 14px;
	width: 480px;
	padding: 40px 0;
	overflow: hidden;
}

.you-should-follow-me-on-twitter-here {
	color: #00acee;
	padding-left: 20px;
	background: url(../i/twitter.png) no-repeat left center;
}

.bio .you-should-follow-me-on-twitter-here {
	font-weight: bold;
}

.bio h3 {
	margin-top: 0;
}

.bio .userpic {
	float: left;
}

.bio .userpic img {
	border-radius: 56px;
}

.bio .bio-text {
	margin-left: 140px;
}


.posts-list article {
	border-top: 1px solid #eee;
	padding-top: 55px;
	padding-bottom: 5px;
}

.posts-list article:first-child {
	border-top: 0;
	padding-top: 0;
}

/*.posts-list h1 {
	font-size: 2.625em;
}*/
/*.posts-list h1 a {
	color: #222;
}*/

.posts-list h1 a:hover {
	/*color: #000;*/
}

.read-more {
	font-family: 'PT Sans', sans-serif;
	font-size: 0.85em;
}



ul.social-networks {
	margin: 0;
	padding: 0;
}

ul.social-networks li {
	display: inline-block;
	margin-right: 20px;
}


a.vk {
	color: #2b587a;
}

a.fb {
	color: #3b5998;
}

a.tw {
	color: #00acee;
}


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

@media screen and (min-width: 1000px){
	body {
		font-size: 19px;
	}

	h1 {
		font-size: 38px;
	}

	h2 {
		font-size: 22px;
	}

	article header time {
		font-size: 15px;
	}

	p.headline {
		font-size: 25px;
	}

	.container {
		width: 740px;
	}

	.bio {
		font-size: 16px;
		width: 640px;
	}
}

@media screen and (max-width: 680px){
	body {
		font-size: 15px;
	}

	header[role="banner"] {
		margin: 15px 0 30px;
	}

	header[role="banner"] .logo {
		margin-bottom: 5px;
	}

	.container {
		width: auto;
		padding: 0 15px;
	}

	h1 {
		font-size: 30px;
	}

	h2 {
		font-size: 18px;
	}
	
	.posts-list article {
		padding-top: 40px;
	}

	article {
		margin-bottom: 25px;
	}

	article header time {
		font-size: 11px;
	}

	p.headline {
		font-size: 18px;
	}

	article .content figure.wide img {
		border-radius: 3px;
	}

	.post-footer {
		margin-top: 30px;
		font-size: 1em;
	}

	.bio {
		padding: 30px 0;
	}
}

@media screen and (max-width: 480px){

	/*body {
		font-size: 14px;
	}*/

	h1 {
		font-size: 26px;
	}

	.bio {
		width: auto;
		font-size: 14px;
		text-align: center;
		padding-right: 20px;
		padding-left: 20px;
	}

	.bio .userpic {
		float: none;
		width: 100%;
	}

	.bio h3 {
		margin: 1em 0;
	}

	.bio .bio-text {
		margin-left: 0;
	}
}



/* Retina */
@media 
(-webkit-min-device-pixel-ratio: 1.5), 
(min-resolution: 144dpi) { 
	header[role="banner"] .logo {
		background-image: url(../i/logo@2x.png);
		background-size: 77px 37px;	
	}

	.you-should-follow-me-on-twitter-here {
		background-image: url(../i/twitter@2x.png);
		background-size: 16px 16px;
	}

}
