body {
	/*background: #161617 url(../i/ted/pat.png);*/
	color: #111;
}

a.logo {
	/*background: url(../i/logo-on-dark.png) no-repeat 0 0;*/
}

h1, h2, article {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

article h1 {
	color: #ff2b06;
	font-size: 84px;
	margin: 2em 0 1em;
}

article h2 {
	margin-top: 2em;
	font-size: 30px;
}

time {
	display: none;
}

a {
	color: #ff2b06;
}

/*a:hover {
	color: #eee;
}*/
/*
footer[role="contentinfo"] {
	background-color: #111;
	border-top-color: #090909;
}*/