.trams-figure {
	background: url(/i/trams/trams-960__new.jpg) no-repeat;
	background-size: cover;
}

.trams-preview {
	margin-bottom: 1em;
	padding: 10px;
	height: 500px;
	border: 2px solid #ccc;
	background: url(/i/trams/trams-hi-res.png) no-repeat;
	cursor: move;
}

@media screen and (max-width: 980px) {
	.trams-figure {
		background-size: 100% !important;
	}
}

@media screen and (max-width: 550px) {
	.trams-preview {
		height: 300px;
	}
}

@media 
(-webkit-min-device-pixel-ratio: 1.5), 
(min-resolution: 144dpi) {
	.trams-figure {
		background: url(/i/trams/trams-960__new@2x.jpg);
		background-size: 960px 682px;
	}

	.trams-preview {
		background-size: 1467px 1034px;
	}
}
