/*
 * Layout
 * ======
 *
 * Global things
 *
 */


* {
  box-sizing: border-box;
}


/* Sticky footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.header,
.footer {
  flex: none;
}

.main {
  flex: 1 0 auto;
}
/* End of that super modern sticky footer solution! */


.container {
  width: auto;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 800px;
  
  @media (--medium-screen) {
    padding: 0 30px;
    /* max-width: 690px; */
  }

  @media (--large-screen) {
    /* max-width: 800px; */
    padding: 0 40px;
  }

  &--wide {
    @media (--medium-screen) {
      max-width: 100%;
    }

    @media (--large-screen) {
      max-width: 1160px;
    }
  }

  &--full {
    @media (--large-screen) {
      max-width: 1600px;
    }
  }

}
