/*
 * Layout
 * ======
 *
 * Global things
 *
 */


* {
  box-sizing: border-box;
}


/* Sticky footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.header,
.footer {
  flex: none;
}

.main {
  flex: 1 0 auto;
}
/* End of that super modern sticky footer solution! */

.container {
  width: auto;
  padding-right: 18px;
  padding-left: 18px;
  margin: 0 auto;
  max-width: 800px;

  @media (--medium-screen) {
    padding: 0 30px;
  }

  @media (--large-screen) {
    max-width: 800px;
    padding-right: 70px;
    padding-left: 70px;
  }

  @media (--x-large-screen) {
    max-width: 860px;
    padding-right: 100px;
    padding-left: 100px;
  }

  &--wide,
  &--quote {
    @media (--medium-screen) {
      max-width: 100%;
    }

    @media (--large-screen) {
      max-width: 1184px;
    }

    @media (--x-large-screen) {
      max-width: 1184px;
    }
  }

  &--full {
    max-width: var(--container-full-width) !important;
  }

  &--medium {
    max-width: var(--container-medium-width) !important;

    @media (--medium-screen) {
      line-height: calc(var(--baseline) * 1.03125);
      padding: 0 var(--container-medium-side-padding) !important;
    }
  }

}

.container--wide .post,
.project-story .container--wide {
  li,
  p,
  blockquote,
  hr,
  .not-that-wide {
    max-width: 800px;
  }
}

.has-dark-background {
  body {
    background-color: #0b161d;
    color: #fff;
  }

  h1,
  h2,
  h3,
  h4 {
    color: #fff;
  }

  .page-header__description {
    color: #7d8a93;
  }

  a {
    color: #8eb5d7;

    &:hover {
      color: #d9e7f3;
    }
  }

  .footer {
    border-color: #11212b;

    a {
      color: rgba(255, 255, 255, 0.5);
    }

    a:hover {
      color: #fff;
    }
  }

  .footer__email-link {
    background-image: url('../i/envelope--dark.svg');
  }
}
