/*
 * Tables
 * ======
 *
 */

.table {

  width: 100%;
  max-width: 100%;
  margin-bottom: var(--baseline);
  
  font-size: 0.8889rem;
  
  th,
  td {
    vertical-align: top;
    line-height: 1.5;
    padding: 12px 15px;
    border-top: 1px solid #eee;
  }

  th:first-child,
  td:first-child {
    padding-left: 0;
  }

  thead th {
    vertical-align: bottom;
    color: var(--text-muted);
    font-size: 0.6667rem;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    border-top: none;
    border-bottom: 1px solid #eee;
  }

  tr:first-child td {
    border-top: none;
  }

  &--compact {
    @media (--medium-screen) {
      font-size: 0.8125rem;
    }
  }
}

.table__title-row {
  td {
    border: none;
    padding-top: 30px;
    padding-bottom: 4px;
  }
  
  h2 {
    margin: 0;
    font-size: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
  }

  & + tr td {
    border-top: none;
  }
}
