/*
 * Tables
 * ======
 *
 */

.table {

  width: 100%;
  max-width: 100%;
  margin-bottom: var(--baseline);
  
  font-size: 0.8889rem;
  
  th,
  td {
    vertical-align: top;
    line-height: 1.5;
    padding: 12px 15px;
    border-top: 1px solid #eee;
  }

  th:first-child,
  td:first-child {
    padding-left: 0;
  }

  thead th {
    border-top: none;
    vertical-align: bottom;
    color: color(var(--text-color) w(+30%));
    font-size: 0.6667rem;
    text-transform: uppercase;
    letter-spacing: 0.07em;
  }

  &--compact {
    @media (--medium-screen) {
      font-size: 0.7778rem;
    }
  }
}
