/*
 * Tables
 * ======
 *
 */

.table {

  width: 100%;
  max-width: 100%;
  margin-bottom: var(--baseline);
  
  font-size: 0.8889rem;
  
  th,
  td {
    vertical-align: top;
    line-height: var(--baseline);
    padding: 10px;
    border-top: 1px solid #eee;
  }

  th:first-child,
  td:first-child {
    padding-left: 0;
  }

  thead th {
    border-top: none;
    vertical-align: bottom;
    font-size: 0.7778rem;
    color: color(var(--text-color) w(+30%))
  }
}
