/*
 * Typography
 * ==========
 *
 */

html {
  font-size: 18px;

  @media (--medium-screen) {
    font-size: 20px;
  }

  /* @media (--large-screen) {
    font-size: 24px;
  } */
}

body {
  line-height: var(--baseline);
  font-family: var(--font-primary);
  font-weight: 400;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
  color: var(--text-darker);
}

h1, h2, h3, h4 {
  margin-top: var(--baseline);
  margin-bottom: var(--baseline-half);
  line-height: 1.1;
}

h1 {
  margin-top: 0;
  font-size: 2rem;
  line-height: 1.1;
  font-weight: 800;

  @media (--medium-screen) {
    font-size: 2.625rem;
  }
}

h2 {
  font-weight: normal;
  margin-top: 3rem;
  margin-bottom: 1.25rem;
  font-size: 1.5rem;
}

h3, h4 {
  margin-top: calc(var(--baseline) * 1.25);
  max-width: 32rem;
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

h4 {
  font-size: 1rem;
}

.title-counter {
  margin-left: 0.15em;
  color: var(--text-muted);
  /* font-family: var(--font-secondary); */
  font-size: 0.7em;
  font-weight: normal;
}

.post__title {
  margin-top: 0.1rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 800;

  @media (--medium-screen) {
    font-size: 2.1rem;
  }

  a {
    color: var(--text-darker);

    &:hover {
      color: #111;
    }
  }
}

.posts-list .lead {
  margin-top: 1.33rem;
  margin-bottom: 1rem;
}


a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.2s ease-out;

  &:hover {
    color: var(--link-hover-color);
  }
}

p {
  margin: 0 0 1em;
}

.lead {
  font-size: 1.3333rem;
  line-height: 1.4;
  margin: 1rem 0 1.5rem;

  @media (--medium-screen) {

    .container--medium & {
      /* line-height: 1.5; */
    }
  }
}

article,
.post__header {
  letter-spacing: -0.0075rem;
}

.container--full {
  article p,
  article li,
  article blockquote,
  article figcaption {
    max-width: 40rem;
  }
}

article blockquote {
  margin: var(--baseline) 0;
  border-left: 3px solid #56b1ff;
  padding-left: 0.8em;
  font-size: 1.1rem;
  line-height: 1.4;
  color: var(--text-darker);

  @media (--medium-screen) {
    padding-left: 1.1em;
    font-size: 1.3333rem;
    /* line-height: 1.45; */
  }
}

article b,
article strong {
  color: var(--text-darker);
  font-weight: 600;
}

cite {
  display: block;
  margin-top: -0.5em;
  color: var(--text-muted);
  font-size: 1rem;
}

.serious-thing,
.details-box,
figure.highlight,
div.highlight {
  background: var(--highlight-color);
  margin: calc(var(--baseline) * 1.25) 0;
  padding: 20px 18px;
  color: #373e51;
  border-radius: 8px;

  @media (--medium-screen) {
    padding: 18px 25px 15px;
  }

  @media (--large-screen) {
    margin-right: -35px;
    margin-left: -35px;
    padding: 24px 35px 20px;
  }
}

.serious-thing {
  background-color: #faf7f3;
  color: #36302b;

  figure.highlight,
  div.highlight,
  p > code,
  li > code {
    background-color: #f0e8e3;
  }

  h2:first-child,
  h3:first-child,
  h4:first-child {
    margin-top: 0;
  }
}

.language-note {
  background-color: var(--warning-bgcolor);
  color: #342810;
  margin: 4em 0;
  padding: 1em 0;
  /* border-top: 5px solid #0057b7; */
  font-size: 0.85rem;
  line-height: 1.4;

  p {
    margin: 0;
  }
}

.details-box {
  background: #3165A0;
  margin-right: 0 !important;
  margin-left: 0 !important;
  color: #fff;

  a {
    color: #fff;
    text-decoration: underline;
  }

  li code, p code {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
  }

  ul>li::before {
    color: rgba(255, 255, 255, 0.5);
  }

  h2,
  h3,
  h4 {
    font-weight: 700;
    font-size: 1.4rem;
    margin-top: 5px;
    color: #fff;
  }
}

figure.highlight,
div.highlight {
  color: var(--text-color);
  padding: 14px 20px !important;
  margin: 1rem 0 1.5rem !important;
  overflow: auto;
  line-height: 1.5;

  @media (--medium-screen) {
    padding-right: 30px;
  }
}

.highlight pre {
  margin: 0;
  white-space: pre-wrap;
}

hr {
  border: 2px solid #edf0f2;
  width: 20%;
  text-align: center;
  display: block;
  margin: calc(var(--baseline) * 1.5) auto;

  @media (--medium-screen) {
    width: 10%;
    margin: calc(var(--baseline) * 2) auto;
  }

  .container--full & {
    margin-left: 0;
    margin-right: 0;
  }
}


ul {
  list-style: none;
  padding: 0;
  margin: 0 0 var(--baseline);
}

ul li,
ol li {
  margin-bottom: calc(var(--baseline) * 0.5);
}

article ul > li,
.bulleted-list > li {
  padding-left: 1em;

  &:before {
    content:'\2022';
    display: block;
    position: relative;
    max-width: 0px;
    max-height: 0px;
    left: -0.75em;
    font-size: 1.2em;
    top: -0.08em;
    color: #938f86;
  }

  @media (--medium-screen) {
    padding-left: 1.5em;
  }
}

li ul {
  margin-top: 0.5em;
}

.nowrap {
  white-space: nowrap;
}

span.hint {
  font-size: 0.875rem;
  line-height: 1.5;
  color: var(--text-muted);
  display: inline-block;
}

abbr,
.small-caps {
  font-size: 0.9em;
  letter-spacing: 0.05em;
  margin-right: -0.05em;
}
