/*
 * Variables
 * =========
 *
 */

@custom-media --x-large-screen (min-width: 1200px);
@custom-media --large-screen   (min-width: 1000px);
@custom-media --medium-screen  (min-width: 600px);

:root {
  --baseline:                        1.55rem;

  --baseline-half:                   calc(var(--baseline) / 2);

  --container-medium-width:          840px;
  --container-medium-side-padding:   30px;

  --container-full-width:            1410px;

  --font-primary:                    "FixelText", system-ui, -apple-system, "Segoe UI", Roboto,
                                     "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
                                     "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* --font-secondary:                  -apple-system, BlinkMacSystemFont, "IBM Plex Sans", "Roboto", "Helvetica Neue", "Arial", sans-serif; */
  --font-monospace:                  "SF Mono", "Menlo", "Monaco", "Courier New", monospace;

  --text-color:                      #242629;
  --text-darker:                     #1d1e21;
  --text-muted:                      #6e7880;
  --link-color:                      #077bd1;
  --link-hover-color:                #c33134;

  --highlight-color:                 #f1f5f8;
  --highlight-border-color:          #dfe7ec;
  --warning-bgcolor:                 #ffeb7b;

  --facebook-color:                  #3b5998;
  --twitter-color:                   #1da1fa;
  --instagram-color:                 #30618a;
  --vk-color:                        #45668e;

  --letter-shadow-color: 38deg 30% 57%;
}
