/*
 * Variables
 * =========
 *
 */

@custom-media --x-large-screen (width >= 1200px);
@custom-media --large-screen   (width >= 1000px);
@custom-media --medium-screen  (width >=  600px);

:root {
  --baseline:                   1.613rem;

  --baseline-half:              calc(var(--baseline) / 2);

  --font-primary:               "Helvetica Neue", "Roboto", "Arial", sans-serif;
  --font-monospace:             "SF Mono", "Menlo", "Monaco", "Courier New", monospace;

/*--text-color:                 #14293b;*/
/*--text-color:                 #33393e;*/
/*--text-color:                 #3f484f;*/
/* --text-color:                #3e464b; */
  --text-color:                 #212324;
  --text-darker:                color(var(--text-color) l(-8%));
  --text-muted:                 color(var(--text-color) a(60%));
  --link-color:                 #077bd1;
  --link-hover-color:           #c33134;
     
  --facebook-color:             #3b5998;
  --twitter-color:              #00acee;
  --instagram-color:            #30618a;
}