/*
 * Dark background
 * ===============
 *
 * Pages with dark background, ok
 *
 */

.page-dark {
  body {
    background: #333;
    color: #fff;
  }

  .main h2,
  .main h3 {
    color: #fff;
  }

  .main a {
    color: #fff;
    border-bottom: 1px solid rgba(#fff, 0.5);
    
    &:hover {
      color: #fff795;
      border-bottom-color: rgba(#fff795, 0.5);
    }
  }

  .page-header {
    border-color: rgba(#fff, 0.1);
    
    &__description {
      color: rgba(#fff, 0.7);
    }
  }

  .table th,
  .table td {
    border-top-color: rgba(#fff, 0.04);
  }

  .table thead th {
    color: rgba(#fff, 0.5);
  }
}