/*
 * Letters to my children
 */

.layout-letters body {
  background-color: #f9efdc;
}

.layout-letters .header {
  border-bottom-color: #eae1cd;
}

.layout-letters .header__menu-link {
  color: var(--text-darker);
  opacity: 0.85;

  &:hover {
    opacity: 1;
  }
}

.main--letter {
  @media (--medium-screen) {
    margin-bottom: 120px;
  }
}

.container--letter {
  @media screen and (max-width: 599px) {
    padding-right: 12px;
    padding-left: 12px;
    font-size: 16px;
    line-height: 1.5;
  }
}

.letter-paper {
  padding: 20px 20px 30px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 0.5px 0.6px hsl(var(--letter-shadow-color) / 0.36),
              0px 1.6px 1.8px -0.8px hsl(var(--letter-shadow-color) / 0.36),
              -0.1px 3.9px 4.4px -1.7px hsl(var(--letter-shadow-color) / 0.36);

  @media (--medium-screen) {
    padding: 45px 80px 100px;
    border-radius: 3px;
  }
}

.letter-paper .post__title {
  font-family: NyghtSerif;
  font-weight: 800;
  font-style: italic;
  font-feature-settings: "ss01";

  @media (--medium-screen) {
    font-size: 3rem;
    margin-bottom: 1.25rem;
  }
}

.layout-letters hr {
  border: none;
  margin: 2em 0 1.5em;
  width: auto;
  height: auto;

  &::after {
    content: "*  *  *";
    color: #2a2a2a;
    font-family: NyghtSerif;
    font-weight: 500;
    font-size: 1.25em;
  }
}

.letter-paper__illustration {
  padding-top: 20px;
  padding-bottom: 15px;

  img {
    position: relative;
    display: block;
  }
}

.letter-paper__footer {
  color: var(--text-muted);
  margin-top: 2em;

  @media (--medium-screen) {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    margin-top: calc(var(--baseline) * 1.5);
    flex-direction: row-reverse;
    font-size: 0.85em;
  }
}

.letter-paper__signature {
  margin-bottom: 8px;

  @media (--medium-screen) {
    margin-bottom: 0;
    padding-right: 16px;
  }
}

.letter-paper__img-treasure-chest {
  margin-top: -60px;
  max-width: 160px;
  left: -12px;

  @media (--medium-screen) {
    margin-top: -80px;
    max-width: none;
    left: -18px;
  }

  @media (--large-screen) {
    margin-top: -90px;
  }
}
