/*
 * Letters to my children
 */

.layout-letters body,
.page-letters body {
  background-color: #fbf3e5;
}

.layout-letters .header {
  display: none;
}

.page-letters .header {
  border-bottom-color: #eae1cd;
}

.page-letters .header__menu-link:not(.header__menu-link--active),
.page-letters .page-header__description,
.page-letters ol li::marker {
  color: #736f6a;
}
.page-letters .footer {
  border-top-color: #ede6d8;

  a {
    color: #736f6a;
  }
}

.page-letters .footer__email-link {
  background-image: url('../i/envelope--letters.svg');
}

.page-letters ol {
  padding-left: 0;
  list-style-position: inside;
}

.page-letters ol li::marker {
  font-size: 0.7em;
}

.letters-placeholder {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  max-width: 20rem;
  margin-top: 6em;
  padding: 20px;
  border: 1px solid #736f6a5a;
  aspect-ratio: 3 / 2;
  font-size: 0.8em;
  line-height: 1.4;
  color: #736f6a;
}


.main--letter {
  margin-top: 0;
  margin-bottom: 40px;

  @media (--medium-screen) {
    margin-top: 5px;
    margin-bottom: 120px;
  }
}

.container--letter {
  @media screen and (max-width: 599px) {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 16px;
    line-height: 1.45;
  }

  @media (--medium-screen) {
    line-height: 1.5;
  }
}

.letters-navigation {
  margin-bottom: 5px;

  @media (--medium-screen) {
    max-width: 1400px !important;
    margin-bottom: 0;
  }
}

.letters-navigation__link {
  display: inline-flex;
  color: #817c72;
  padding: 15px 0;
  gap: 0.45em;
  align-items: center;
  line-height: 1;
  font-size: 16px;

  &:hover {
    color: #69655d;
  }
}

.letters-navigation__arrow {
  position: relative;
  top: -0.1em;
  font-size: 2.4em;
  opacity: 0.85;
}

.letter-paper {
  position: relative;
  margin-top: 0;
  padding: 20px 24px 40px 20px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 0.5px 0.6px hsl(var(--letter-shadow-color) / 0.3),
              0px 1.6px 1.8px -0.8px hsl(var(--letter-shadow-color) / 0.3),
              -0.1px 3px 5px -1.7px hsl(var(--letter-shadow-color) / 0.3);

  @media (--medium-screen) {
    margin-top: 40px;
    padding: 40px 80px 100px;
    border-radius: 3px;
  }

  @media (--large-screen) {
    margin-top: 70px;
  }
}

.letter-paper .post__title {
  font-family: NyghtSerif;
  font-weight: 800;
  font-style: italic;
  font-feature-settings: "ss01";
  font-size: 2rem;
  margin-bottom: 1rem;

  @media (--medium-screen) {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
  }

  @media (--large-screen) {
    font-size: 3rem;
  }
}

.post__title + .letter-paper__dedication {
  margin-top: -0.5rem;

  @media (--medium-screen) {
    margin-top: -0.7rem;
  }
}

.letter-paper__dedication {
  margin-bottom: 4em;
  font-style: italic;

  @media (--medium-screen) {
    margin-bottom: 5em;
  }
}

.layout-letters hr {
  border: none;
  margin: 2em 0 1.5em;
  width: auto;
  height: auto;

  &::after {
    content: "*  *  *";
    color: #2a2a2a;
    font-family: NyghtSerif;
    font-weight: 500;
    font-size: 1.25em;
  }
}

.layout-letters p {
  margin-bottom: 1.3125em;
}

.letter-paper__img {
  position: relative;
  display: block;
  margin-bottom: 20px;
  border-radius: 0;
  height: auto;
}

.letter-paper__footer {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: calc(var(--baseline) * 2);

  @media (--medium-screen) {
    margin-top: calc(var(--baseline) * 2.5);
  }
}

.letter-paper__signature img {
  @media screen and (max-width: 599px) {
    max-width: 130px;
    height: auto;
  }
}

.letter-paper__date {
  color: var(--text-muted);

  @media (--medium-screen) {
    font-size: 0.85em;
  }
}

.letter-paper__img--treasure-chest {
  margin-top: -32px;
  max-width: 160px;
  left: -12px;

  @media (--medium-screen) {
    margin-top: -90px;
    max-width: none;
    left: -18px;
  }
}

.letter-paper__img--bus {
  margin-top: -35px;

  @media (--medium-screen) {
    margin: 0 auto 40px;
  }

  @media (--large-screen) {
    margin-top: 20px;
    margin-bottom: 65px;
  }
}

.letter-paper__img--clock {
  margin-top: -44px;
  margin-bottom: 24px;
  left: -11px;
  max-width: 150px;

  @media (--medium-screen) {
    margin-top: -100px;
    max-width: none;
    left: -16px;
  }
}

.letter-paper--bus .letter-paper__illustration {
  @media (--medium-screen) {
    padding-bottom: 50px;
  }
}

.letter-paper--bus .letter-paper__illustration::after {
  @media (--medium-screen) {
    position: absolute;
    content: '';
    display: block;
    border-bottom: 1px dashed #ddd;
    left: 0;
    right: 0;
  }
}
