/*
 * Pages-lists
 * ===========
 *
 * Pages with lists: favorite books, movies etc.
 *
 */


.list-of-lists__item {
  position: relative;
  padding: 0;
  /* font-family: var(--font-secondary); */

  &::before {
    display: none;
  }
}

.books__item,
.movies__item,
.countries__item {
  list-style-type: none;
  margin: 1.5em 0;
  padding: 0;
  max-width: 39em;

  &::before {
    display: none;
  }

  &:last-child {
    border-bottom: none;
  }
}

.til__item {
  max-width: 36em;

  &-extras {
    margin-bottom: 1.5em;
  }
}


.books__mark {
  text-align: center;
}

.books__date {
  color: var(--text-muted);
}

.books__name,
.movies__name,
.countries__name {
  display: block;
  position: relative;
  margin-bottom: 0.1em;
  font-size: 1.1rem;
  line-height: 1.4;
  letter-spacing: -0.01em;
  font-weight: 500;
}

.books__item--favorite .books__name:after,
.movies__item--favorite .movies__name:after {
  display: inline-block;
  content: '★';
  margin-left: 0.5em;
  color: #f90;

  @media (--x-large-screen) {
    position: absolute;
    left: -1.5em;
    margin-left: 0;
  }
}

.books__author,
.movies__details,
.countries__details {
  display: block;
  line-height: 1.4;
  color: var(--text-muted);
  font-size: 0.9em;
  max-width: 39em;
}

.books__comment,
.movies__comment {
  padding: 10px 18px;
  background-color: #f5f5f5;
  border-radius: 4px;
  margin-top: 0.5rem;
  font-size: 0.9em;
  line-height: 1.5625;
}

.movies__rating {
  font-size: 0.9em;
  padding-left: 0.2em;
}

.countries__item {
  @media (--large-screen) {
    margin-left: 1.7em;
  }
}

.countries__flag {
  display: inline-block;
  position: relative;
  top: 0.05em;
  margin-right: 0.05em;

  @media (--large-screen) {
    position: absolute;
    left: -1.45em;
    margin-right: 0;
  }
}

.page-flights__flag {
  position: relative;
  top: 0.08em;
  margin-right: -0.1em;
}

.bucket-list__item {
  font-weight: 400;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  &::before {
    content: '';
    display: block;
    width: 0.9em;
    height: 0.9em;
    border-radius: 3px;
    margin-right: 0.5em;
    background-color: #fff;
    border: 2px solid #ddd;
    margin-top: 0.15em;
  }

  span {
    display: inline-block;
    flex: 1;
  }
}

.bucket-list__item--done {
  color: #198120;

  &::before {
    background: #f2fff7 url('../i/checkmark.svg') no-repeat 50% 50%;
    background-size: 65%;
    border-color: #1d8424;
  }
}

.album-list {
  line-height: 1.25;

  @media screen and (min-width: 480px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 40px;
  }

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__item {
    margin-bottom: 50px;

    @media screen and (min-width: 480px) {
      max-width: 300px;
    }
  }

  &__cover {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 1em;
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.135),
                0px 12px 10px rgba(0, 0, 0, 0.145),
                0px 30px 24px rgba(0, 0, 0, 0.155),
                0px 100px 80px rgba(0, 0, 0, 0.2);
  }

  &__title {
    margin-bottom: 0.15em;

    strong {
      font-weight: 600;
    }
  }

  &__author {
    margin-bottom: 0.15em;
  }

  &__year {
    display: inline-block;
    /* margin-bottom: 0.25em; */
    font-size: 0.75em;
    opacity: 0.8;
    margin-right: 0.3em;
  }

  &__streaming {
    display: inline-block;
    font-size: 0.75em;
    opacity: 0.5;
  }

  &__streaming a,
  &__streaming a:hover {
    color: inherit;
  }

  &__streaming a:hover {
    text-decoration: underline;
  }
}

.page-til img {
  max-width: 100%;
  height: auto;
}
