{% capture post_date_xml %}
  {{ include.post-date | date_to_xmlschema }}
{% endcapture %}

{% capture post_day %}
  {{ include.post-date | date: "%-d" }}
{% endcapture %}

{% capture month_and_year %}
  {{ include.post-date | date: "%B %Y" | replace:"January","січня" | replace:"February","лютого" | replace:"March","березня" | replace:"April","квітня" | replace:"May","травня" | replace:"June","червня" | replace:"July","липня" | replace:"August","серпня" | replace:"September","вересня" | replace:"October","жовтня" | replace:"November", "листопада" | replace:"December","грудня" }}
{% endcapture %}

<p class="post__date">
  <time datetime="{{ post_date_xml }}">{{ post_day }} {{ month_and_year }}</time>
</p>
