{%- unless layout.noFooter or page.noFooter %}
<footer class="footer{% if page.class contains 'page-dark' or page.class contains 'has-dark-footer' %} footer--dark{% endif %}" role="contentinfo">
  <div class="footer__container container container--full">

    <div class="footer__email">
      <a class="footer__email-link" href="mailto:mailbox@zaytsev.io">mailbox@zaytsev.io</a>
    </div>

    <div class="footer__social">
      <a class="footer__social-link" href="https://twitter.com/nqst">Twitter</a>
      <!-- <a class="footer__social-link" href="https://facebook.com/a.zaytsev">Facebook</a> -->
      <a class="footer__social-link" href="https://instagram.com/nqst">Instagram</a>
    </div>
  </div>
</footer>
{%- endunless %}

<script src="/js/jquery.fitvids.js"></script>
<script>
  $(function(){
    if($('article').length) {
      $('article').fitVids({ customSelector: "iframe[src^='http://embed.ted.com']"});
    }
  });
</script>

<script src="/js/main.js"></script>

{% if page.plyr %}
  <script src="/js/plyr.js"></script>
  <script>Plyr.setup('.js-player');</script>
{% endif %}

{% if page.littlefoot %}
  <script src="/js/littlefoot.min.js"></script>
  <script>
    littlefoot.littlefoot({
      buttonTemplate: `
      <button
        aria-label="Примітка <% number %>"
        class="littlefoot__button"
        id="<% reference %>"
        title="Див. примітку <% number %>"
      >
        <% number %>
      </button>`
    })
  </script>
{% endif %}

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-40251727-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-40251727-1');
</script>

</body>
</html>
