<!doctype html>
<html lang="uk" class="{% if page.cover %}has-cover{% endif %}{% if page.cover_light %} has-cover--light{% endif %}{% if page.class and page.cover %}{{ ' ' }}{% endif %}{% if page.class %}{{ page.class }}{% endif %}{% if page.layout == 'project' %} page-project{% endif %}">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="Олександр Зайцев">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@nqst">
  <meta name="twitter:creator" content="@nqst">

  <meta property="twitter:title" content="{{ page.title }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="Олександр Зайцев">
  {% if page.ogtype %}<meta property="og:type" content="{{ page.ogtype }}">{% endif %}

  {% if page.introimg %}
    {% unless page.ogimage %}
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:image" content="https://zaytsev.io/i{{ page.id }}/{{ page.introimg }}">
  <link rel="image_src" href="https://zaytsev.io/i{{ page.id }}/{{ page.introimg }}">
  <meta name="twitter:image" content="https://zaytsev.io/i{{ page.id }}/{{ page.introimg }}">
    {% endunless %}
  {% endif %}

  {% if page.ogimage %}<meta name="twitter:card" content="summary_large_image">
  <meta property="og:image" content="https://zaytsev.io/i{{ page.id }}/{{ page.ogimage }}">
  <link rel="image_src" href="https://zaytsev.io/i{{ page.id }}/{{ page.ogimage }}">
  <meta name="twitter:image" content="https://zaytsev.io/i{{ page.id }}/{{ page.ogimage }}">
  {% endif %}

  <link rel="stylesheet" href="/css/main.css?v1">
  {% if page.extrahead %}{{ page.extrahead }}{% endif %}
  {% if page.custom-css %}<link rel="stylesheet" href="/css/posts{{ page.id | remove_first:'/blog' }}.css">{% endif %}
  {% if page.tmp-css %}<link rel="stylesheet" href="/css/posts/{{ page.tmp-css }}">{% endif %}
  {% if page.plyr %}<link rel="stylesheet" href="/css/plyr.css">{% endif %}
  {% if page.littlefoot %}<link rel="stylesheet" href="/css/littlefoot.min.css">{% endif %}

  <link rel="alternate" type="application/rss+xml" title="Олександр Зайцев" href="/blog/rss/">

  <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/jquery-2.2.3.min.js"><\/script>')</script>
  <!-- <script src="//twemoji.maxcdn.com/2/twemoji.min.js"></script> -->
</head>

<body>

{% assign has_banner = false %}

{% if page.permalink contains "/projects/" %}
{% assign has_banner = true %}
  <div class="header-warning">
    <div class="container container--wide">
      ⚠️ Розділ «Проєкти» застарів. Не оновлював його з 2017 року і поки що не переклав українською мовою.
    </div>
  </div>
{% endif %}

<header class="header{% if page.class contains 'page-dark' or page.class contains 'has-dark-header' %} header--dark{% endif %}{% if has_banner == true %} header--has-banner{% endif %}" role="banner">
  <div class="header__container container container--wide">
    {% if page.url == '/' %}
    <h1 class="header__title">Олександр Зайцев</h1>
    {% else %}
    <div class="header__title">
      <a class="header__title-link" href="/">Олександр Зайцев</a>
    </div>
    {% endif %}

    <nav class="header__nav">
      <ul class="header__menu">
        <li class="header__menu-item"><a class="header__menu-link{% if page.url contains '/projects/' %} header__menu-link--active{% endif %}" href="/projects/">Проєкти</a></li><!--
     --><li class="header__menu-item"><a class="header__menu-link{% if page.url contains '/lists/' %} header__menu-link--active{% endif %}" href="/lists/">Списки</a></li><!--
     --><li class="header__menu-item"><a class="header__menu-link{% if page.url contains '/blog/' %} header__menu-link--active{% endif %}" href="/blog/">Блог</a></li>

        <!-- <li class="header__menu-item"><a class="header__menu-link{% if page.url contains '/about/' %} header__menu-link--active{% endif %}" href="/about/">О себе</a></li> -->
      </ul>
    </nav>
  </div>
</header>
