<!doctype html>
<html lang="ru" class="{% if page.cover %}has-cover{% endif %}{% if page.class and page.cover %}{{ ' ' }}{% endif %}{% if page.class %}{{ page.class }}{% endif %}{% if page.layout == 'project' %} page-project{% endif %}">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="Сайт Александра Зайцева">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@nqst">
  <meta name="twitter:creator" content="@nqst">
  
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="Сайт Александра Зайцева">
  {% if page.ogtype %}<meta property="og:type" content="{{ page.ogtype }}">{% endif %}
  
  {% if page.introimg %}
    {% unless page.ogimage %}
  <meta property="og:image" content="http://nqst.github.io/i{{ page.id | remove_first:'/blog' }}/{{ page.introimg }}">
  <link rel="image_src" href="http://zaytsev.io/i{{ page.id | remove_first:'/blog' }}/{{ page.introimg }}">
    {% endunless %}
  {% endif %}
  
  {% if page.ogimage %}<meta property="og:image" content="http://zaytsev.io/i{{ page.id | remove_first:'/blog' }}/{{ page.ogimage }}">
  <link rel="image_src" href="http://zaytsev.io/i{{ page.id | remove_first:'/blog' }}/{{ page.ogimage }}">{% endif %}
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700,700italic&subset=latin,cyrillic">
  
  <link rel="stylesheet" href="/css/main.css">
  {% if page.extrahead %}{{ page.extrahead }}{% endif %}
  {% if page.custom-css %}<link rel="stylesheet" href="/css/posts{{ page.id | remove_first:'/blog' }}.css">{% endif %}
  {% if page.plyr %}<link rel="stylesheet" href="/css/plyr.css">{% endif %}

  <link rel="alternate" type="application/rss+xml" title="Блог Александра Зайцева" href="/blog/rss/">

  <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/jquery-2.2.3.min.js"><\/script>')</script>
  <!-- <script src="//twemoji.maxcdn.com/2/twemoji.min.js"></script> -->
</head>

<body>

<header class="header{% if page.class contains 'page-dark' or page.class contains 'has-dark-header' %} header--dark{% endif %}" role="banner">
  <div class="header__container container container--wide">
    {% if page.url == '/' %}
    <h1 class="header__title">Александр Зайцев</h1>
    {% else %}
    <div class="header__title">
      <a class="header__title-link" href="/">Александр Зайцев</a>
    </div>
    {% endif %}
    <!-- <div class="header__menu">
      <span class="header__separator">/</span>

      <span class="header__page header__page--active">
        {% if page.url == '/blog/' %}
          Блог
        {% else %}
          <a href="/blog/">Блог</a>
        {% endif %}
      </span>

    </div> -->

    <nav class="header__nav">
      <ul class="header__menu">
        <li class="header__menu-item"><a class="header__menu-link{% if page.url contains '/projects/' %} header__menu-link--active{% endif %}" href="/projects/">Проекты</a></li><!--
     --><li class="header__menu-item"><a class="header__menu-link{% if page.url contains '/lists/' %} header__menu-link--active{% endif %}" href="/lists/">Списки</a></li><!--
     --><li class="header__menu-item"><a class="header__menu-link{% if page.url contains '/blog/' %} header__menu-link--active{% endif %}" href="/blog/">Блог</a></li>

        <!-- <li class="header__menu-item"><a class="header__menu-link{% if page.url contains '/about/' %} header__menu-link--active{% endif %}" href="/about/">О себе</a></li> -->
      </ul>
    </nav>
  </div>
</header>
