<!-- <div class="medhelpdnipro">
  <div class="medhelpdnipro__logo-wrapper">
    <img class="medhelpdnipro__logo" src="/i/other/mhd-logo.png" width="120" height="120" alt="Med Help Dnipro">
  </div>

  <div class="medhelpdnipro__content">
    <h3 class="medhelpdnipro__title">Конвертуйте лють в донати</h3>
    <div>
      <p>З початку війни фонд <a href="https://medhelpdnipro.org">Med Help Dnipro</a> допомагає українським лікарям рятувати людей та боротися з наслідками біди, яку щодня приносить нам держава-терорист.</p>
      <p>Співзасновник фонду — Саша Бучков, мій близький друг. Тому впевнений, що кожна гривня йде на корисну справу.</p>
      <p>Запрошую вас зробити свій внесок у перемогу України.</p>
      <div class="medhelpdnipro__action">
        <a class="button" href="https://send.monobank.ua/jar/7CugjwYWhj">Задонатити</a>
        <a class="button button--link" href="https://www.instagram.com/medhelpdnipro/">Інстаграм фонду</a>
      </div>
    </div>
  </div>
</div> -->

<div class="medhelpdnipro medhelpdnipro--marina">
  <div class="medhelpdnipro__image-wrapper">
    <img class="medhelpdnipro__image-reb-1" src="/i/other/reb-1.png" width="220" alt="Збір">
    <img class="medhelpdnipro__image-reb-2" src="/i/other/reb-2.png" width="150" alt="Збір">
  </div>

  <div class="medhelpdnipro__content">
    <h3 class="medhelpdnipro__title">Задонатьте на захист від дронів</h3>
    <div>
      <p>Моя дружина Марина разом з <a href="https://medhelpdnipro.org/">Med Help Dnipro</a> збирають гроші на РЕБ-пристрої для протидії ворожим дронам. Такі пристрої допомагають захищати техніку і позиції наших захисників.</p>
      <p>Для нас це дуже важливий збір. Буду вдячний, якщо ви зможете його підтримати.</p>

      <div class="medhelpdnipro__action">
        <a class="button" href="https://send.monobank.ua/jar/9tnKexjQ15">Задонатити</a>
      </div>
    </div>
  </div>
</div>
