<div class="telegram-channel">
  <img class="telegram-channel__logo" src="/i/telegram.svg" alt="Telegram" width="48" height="48">
  <div class="telegram-channel__text">
    <div class="telegram-channel__title">Подпишитесь на мой канал в Телеграме</div>
    <p class="telegram-channel__description">Уведомления о новых заметках, интересные ссылки и музыка. Редко, но хорошо.</p>
  </div>

  <div class="telegram-channel__btn-wrapper">
    <a class="telegram-channel__btn" href="https://telegram.me/zaytsev_io" target="_blank">Подписаться</a>
  </div>
</div>
