/*
 * Comments
 * ========
 *
 */

.comments {
  /* background-color: #f2f5f7; */
  margin-top: 40px;
  padding: 30px 0;
  border-top: 2px solid #edf0f2;
  
  @media (--medium-screen) {
    margin-top: 80px;
    padding: 60px 0;
  }
}
