/*
 * Content
 * =======
 *
 * Styles of the main content
 *
 */


.main {
  margin: 120px 0 60px;

  @media (--medium-screen) {
    margin: 140px 0;
  }
}

.main--post {
  @media (--medium-screen) {
    margin-bottom: 60px;
  }
}

.post__header--wide {
  max-width: 1200px;
  margin: 0 auto;
}

.post__date {
  margin: 0;
  color: #838e96;
  font-size: 0.8rem;
  /* font-family: var(--font-secondary); */
  margin-bottom: 0.25em;
}


article img,
article iframe {
  border-radius: 8px;
}

figure,
.embed {
  margin: var(--baseline) 0;
}

.figure--compact,
.embed--compact {
  margin: 1rem 0;
}

.intro-image {
  width: 100%;
  margin: 1rem 0;

  @media (--medium-screen) {
    margin: 2rem 0;
  }

  a {
    display: block;
  }

  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    border-radius: 8px;
  }

  &--full img {
    width: 100%;
  }
}

.posts-list .intro-image {
  margin-top: 1.5rem;
  margin-bottom: 1.33rem;

  img {
    margin: 0;
  }
}

.figure--center {
  text-align: center;
}

.figure--shadow img {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.figure--screenshot img {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
              0 6px 18px rgba(0, 0, 0, 0.15),
              0 15px 35px rgba(0, 0, 0, 0.05);
  display: block;
  margin-bottom: 40px;

  & + figcaption {
    margin-top: -35px;
    margin-bottom: 20px;
  }

  @media (--medium-screen) {
    margin-bottom: 60px;

    & + figcaption {
      margin-top: -65px;
    }

  }

}

article img,
article video {
  max-width: 100%;
}

article figcaption {
  display: block;
  margin-top: 0.5em;
  margin-bottom: var(--baseline);
  /* font-family: var(--font-secondary); */
  line-height: 1.5;
  font-size: 0.7rem;
  color: #606264;
}

.two-columns,
.three-columns {
  margin-top: var(--baseline);
  margin-bottom: var(--baseline);

  @media (--medium-screen) {
    display: flex;
    justify-content: space-between;
  }

  &--center {
    align-items: center;
  }
}

.two-columns + .two-columns,
.three-columns + .three-columns {
  @media (--medium-screen) {
    margin-top: calc(var(--baseline) * -1);
  }
}

.two-columns__item {
  margin: 1em 0 0.5em;

  @media (--medium-screen) {
    width: 48.5%;

    .two-columns--wide & {
      width: 48%;
    }
  }
}

.three-columns__item {
  margin: 1em 0 0.5em;

  @media (--medium-screen) {
    width: 31%;
  }
}

figure.figure--wide,
.two-columns--wide,
.three-columns--wide {
  @media (--large-screen) {
    width: 980px;
    margin-bottom: calc(var(--baseline) * 1.5);
    margin-left: calc((980px - 800px + 150px) / -2); /* 740 is container max-width in --large-screen. @todo - put into variable */
    text-align: center;

    .container--medium & {
      margin-left: calc((980px - var(--container-medium-width) + var(--container-medium-side-padding) * 2) / -2);
    }
  }

  @media (--x-large-screen) {
    width: 1100px;
    margin-left: calc((1100px - 900px + 200px) / -2); /* 840 is container max-width in --x-large-screen. @todo - put into variable */

    .container--medium & {
      margin-left: calc((1100px - var(--container-medium-width) + var(--container-medium-side-padding) * 2) / -2);
    }
  }

  .posts-list & {
    margin-left: 0 !important;
    width: auto !important;
  }

  figcaption {
    max-width: none;
  }
}

.post__credits {
  font-size: 0.888rem;
  color: var(--text-muted);

  a {
    color: var(--text-muted);
    text-decoration: underline;

    &:hover {
      color: var(--text-color);
    }
  }
}

/* .post__footer {
  margin-top: calc(var(--baseline) * 2);
  font-family: var(--font-primary);
  font-size: 0.888rem;
} */


.post__cover {
  height: 200px;
  background-color: #333;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 2%;
  border-radius: 4px;
  margin-bottom: var(--baseline);

  @media (--medium-screen) {
    height: 440px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;

    margin-bottom: 0;
    border-radius: 0;

    box-shadow: inset 0 -5px 40px -3px rgba(0, 0, 0, 0.15);
    z-index: 2;
  }

  @media (--large-screen) {
    height: 500px;
  }
}

.has-cover .main {
  /* margin-top: 0; */

  @media (--medium-screen) {
    margin-top: 500px;
  }

  @media (--large-screen) {
    margin-top: 560px;
  }
}

.post__share {
  margin: 30px 0;
}



.posts-list .post {
  border-top: 1px solid #eaecf0;
  padding: calc(var(--baseline) * 2) 0;
  margin-top: 0;

  &:first-child {
    border-top: none;
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.read-more {
  margin-top: 1.5em;

  &__link {
    font-size: 0.8rem;
    font-weight: 500;
    display: inline-block;
    border: 1px solid #e3e5e7;
    border-radius: 5px;
    padding: 4px 15px 5px;
    transition: all 0.2s ease-in-out;
  }

  &__link:hover {
    color: var(--link-color);
    background-color: var(--highlight-color);
  }
}



.page-header {
  margin-bottom: var(--baseline);
  /* padding-bottom: calc(var(--baseline-half)); */
  /* border-bottom: 1px solid #eee; */

  &__title,
  &__description {
    max-width: 32rem;
  }

  &__title {
    margin: 0;
  }

  &__description {
    margin: 0.5em 0 2em;
    color: var(--text-muted);
  }
}

.item-locked {
  color: var(--text-muted);

  &:after {
    display: inline-block;
    content: '';
    margin-left: 0.4em;
    background: url('../i/lock.svg') no-repeat 0 0;
    width: 12px;
    height: 14px;
    position: relative;
    top: 1px;
    opacity: 0.75;
  }
}
