/*
 * Footer
 * ======
 *
 */

.footer {
  padding: 19px 0 20px;
  color: var(--text-muted);
  font-size: 0.7rem;
  border-top: 1px solid #eceef0;

  @media (--medium-screen) {
    padding: 35px 0 37px;
    font-size: 0.8rem;
  }

  a {
    color: #6e8395;
    &:hover {
      color: var(--text-color);
    }
  }
}


.footer--dark {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: none;

  a {
    color: #8aa1b4;

    &:hover {
      color: rgba(255, 255, 255, 0.85);
    }
  }
}


.footer__container {
  @media (--medium-screen) {
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: baseline;
    max-width: var(--container-full-width) !important;
  }
}


.footer__email {
  margin-bottom: 0.5em;

  @media (--medium-screen) {
    margin-bottom: 0;
  }

  &-link {
    display: inline-block;
    background: url('../i/envelope.svg') no-repeat left 50%;
    padding-left: 21px;
  }
}

.footer__social-link {
  margin-left: 1.2em;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: left center;

  @media (--medium-screen) {
    margin-left: 1.6em;
  }

  &:first-child {
    margin-left: 0;
  }
}
