/*
 * Site header
 * ===========
 *
 */

.header {
  position: absolute;
  width: 100%;

  z-index: 5;
  margin: 0;
  border-bottom: 1px solid #eee;
  line-height: 1.4;
  font-size: 0.75rem;
  /* font-family: var(--font-secondary); */

  @media (--medium-screen) {
    border-bottom: none;
  }

  &--has-banner {
    top: 65px;

    @media (--medium-screen) {
      top: 50px;
    }
  }
}

.header--dark {
  border-bottom: none;
  background-color: rgba(#000, 0.08);

  @media (--medium-screen) {
    background-color: transparent;
    box-shadow: none;
  }

  &__separator {
    color: rgba(#fff, 0.25);
  }

  .header__title a,
  .header__title a:hover {
    color: #fff;
  }

  .header__menu-link {
    color: rgba(#fff, 0.5);

    &:hover,
    &--active {
      color: #fff;
    }
  }
}


.header__container {
  padding-top: 12px;
  padding-bottom: 13px;

  @media (--medium-screen) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: var(--container-full-width) !important;

    padding-top: 28px;
    padding-bottom: 28px;
  }

  @media (--large-screen) {
    padding-top: 34px;
    padding-bottom: 36px;
  }
}

.has-cover:not(.has-cover--light) .header {
  @media (--medium-screen) {
    text-shadow: 0 1px 3px rgba(#000,0.5);

    /* Code below is just a copy of .header--dark. One day I should find a more elegant way without repeating myself */
    .header__title a,
    .header__title a:hover {
      color: #fff;
    }

    .header__menu-link {
      color: rgba(#fff, 0.5);

      &:hover,
      &--active {
        color: #fff;
      }
    }
  }
}

.header__title {
  margin: 0;
  font-size: 1em;
  font-weight: bold;
  line-height: inherit;
  white-space: nowrap;
  color: var(--text-darker);
}

.header__title-link {
  display: block;
  margin: -0.2em -0.6em;
  padding: 0.2em 0.6em;
  color: inherit;

  &--inactive {
    pointer-events: none;
  }

  &:hover {
    color: #000;
  }
}

.header__menu {
  margin: 0.5rem 0 0;
  padding: 0;
  /* flex: 1; */

  @media (--medium-screen) {
    margin-top: 0;
    /* text-align: right; */
  }
}

.header__menu-item {
  display: inline-block;
  margin: 0 0 0 1.2em;
  padding: 0;

  @media (--medium-screen) {
    margin-left: 1.6em;
  }

  &:first-child {
    margin-left: 0;
  }

  &:before {
    display: none;
  }
}

.header__menu-link {
  color: color(var(--link-color) s(-70%) a(67%));
  font-weight: 500;
  /* font-size: 0.94rem; */

  &:hover {
    color: var(--text-color);
  }

  &--active {
    color: var(--text-color);
  }
}

.header__separator {
  color: #ddd;
  padding: 0 0.2em;
}

.header-warning {
  background-color: var(--warning-bgcolor);
  display: flex;
  width: 100%;
  align-items: center;
  height: 65px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 0.7em;
  line-height: 1.25;
  font-weight: 500;

  .container {
    max-width: var(--container-full-width) !important;
  }

  @media (--medium-screen) {
    height: 50px;
    font-size: 0.8em;
  }
}
