/*
 * Paginator
 * ========
 *
 * Prev/next links
 *
 */

.paginator {
  border-top: 1px solid #eee;
  overflow: hidden;
  background-color: #fff;
  font-size: 0.9rem;
  /* font-family: var(--font-secondary); */

  @media (--medium-screen) {
    font-size: 0.8rem;
  }
}

.paginator__link {
  padding: 20px 15px;
  transition: background-color 0.3s ease-in-out;
  display: block;
  text-align: center;

  @media (--medium-screen) {
    padding-right: 50px;
    padding-left: 50px;
  }

  @media (--large-screen) {
    min-width: 50%;
    padding-right: 75px;
    padding-left: 75px;
  }

  @media (--x-large-screen) {
    padding-right: 100px;
    padding-left: 100px;
  }

  &:hover {
    background-color: rgba(var(--link-color), 0.03));
    color: var(--link-color);
  }
}

.paginator__prev {

  @media (--large-screen) {
    float: left;
    text-align: left;
  }

  &:before {
    content: "‹";
    padding-right: 5px;

    @media (--large-screen) {
      padding-right: 8px;
    }
  }
}

.paginator__next {
  border-top: 1px solid #eee;

  @media (--large-screen) {
    float: right;
    text-align: right;
    border-top: none;
    border-left: 1px solid #eee;
  }

  &:after {
    content: "›";
    padding-left: 5px;

    @media (--large-screen) {
      padding-left: 7px;
    }
  }
}

.paginator__link--wide {
  border: none;

  @media (--large-screen) {
    min-width: 100%;
  }
}
