/*
 * Projects
 * ========
 *
 */



.hero {
  background-size: cover;
  padding: 130px 0 75px;
  margin-bottom: 70px;
  text-align: center;
}

.hero__title-wrapper {
  margin-bottom: 40px;
}

.hero__title {
  margin-bottom: 0;
}

.hero__description {
  margin-top: 0.5em;
  color: var(--text-muted);
  font-size: 0.9em;
}

.hero__link-wrapper {
  margin-top: 0.5em;
}

.hero__link {
  font-size: 0.9em;
  font-weight: 500;
}

.hero__figure {
  text-align: center;
  margin-bottom: 0;
  
  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  &--with-shadow img {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  &--with-rounded-corners img {
    border-radius: 4px;
  }
}


.has-dark-header .hero {
  color: #fff;
  
  .hero__title {
    color: #fff;
  }

  a {
    color: #fff;
    border-bottom: 1px solid rgba(#fff, 0.25);
  }

  .hero__description {
    color: rgba(#fff, 0.7);
  }
}

.hero--zero-bottom {
  padding-bottom: 0;
}

/* .project-article {
  p,
  li,
  figure,
  img {
    max-width: 40rem;
  }

  .figure--wide {
    @media (--large-screen) {
      margin-left: 0;
      width: auto;
      text-align: left;
      max-width: none;
    }

    img {
      max-width: 100%;
    }
  }
} */


.page-projects .main,
.page-project .main {
  margin-top: 0;
}

.important-projects,
.rest-of-the-projects {
  margin-top: 50px;
  font-size: 0;
  
  @media (--medium-screen) {
    /* display: flex; */
    margin-top: 80px;
    margin-right: -20px;
    margin-left: -20px;
  }

  @media (--large-screen) {
    margin-top: 100px;
    margin-right: -25px;
    margin-left: -25px;
  }

  @media (--x-large-screen) {
    margin-right: -30px;
    margin-left: -30px;
  }
}

.important-projects {
  margin-bottom: calc(var(--baseline) * -1.5); /* magic number :( compensate margin-bottom of project--important */
}

.rest-of-the-projects {
  @media (--medium-screen) {
    /* flex-wrap: wrap; */
  }
}

.rest-of-the-projects .project {
  width: 100%;
  
  @media (--medium-screen) {
    width: 50%; 
  }

  @media (--large-screen) {
    width: 33.333%; 
  }
}

.project {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  
  margin-bottom: calc(var(--baseline) * 2);
  
  @media (--medium-screen) {
    /* flex: 1 0 auto; */
    padding: 0 20px;
    /* max-width: 50%; */
  }
  
  @media (--large-screen) {
    margin-bottom: calc(var(--baseline) * 2.5);
    padding: 0 25px;
    /* max-width: 33.3333%; */
  }

  @media (--x-large-screen) {
    padding: 0 30px;
  }
}

.project__link {
  display: inline-block;
  width: 100%;
}

a.project__link:hover .project__image {
  opacity: 0.87;
}

.project__image {
  width: 100%;
  height: auto;
  min-height: 190px;
  border-radius: 4px;
  margin-bottom: 1em;
  opacity: 1;
  transition: opacity 0.2s ease-out;

  /* background-color: #eee; */
  background-repeat: no-repeat;
  background-position: 50% 50%;
  
  &-img {
    display: inline-block;
  }
}

.project__title {
  display: inline-block;
  line-height: 1.4;
}

.featured-project {
  text-align: center;
  padding: 130px 0 30px;
  /* font-size: 1.4em; */
  margin-bottom: 0;
  
  @media (--large-screen) {
    padding: 140px 0 55px;
  }

  .project {
    flex: none;
    padding: 0;
    margin: 0;
    max-width: none;
    font-size: 1.6rem;
  }
  
  .project__image {
    margin-bottom: 0;
    border-radius: 0;
    opacity: 1 !important;
  }

  .project__image-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
    
    @media (--large-screen) {
      margin-bottom: 45px;
    }
  }
  
  .project__link {
    color: inherit;
    
    /* &:hover .project__title {
      color: rgba(#fff, 0.9);
    } */

    /* &:hover .project__image-img {
      transform: translateY(-5px);
    } */
  }
}

.featured-project--uz {
  background-color: #0fa7d8;
  color: #fff;
  
  .project__image-img {
    box-shadow: 0 2px 5px rgba(#000, 0.2);
    border-radius: 2px;
    
    @media (--medium-screen) {
      border-radius: 4px;
    }
  }
}

.featured-project--nic {
  background-color: #67b23d;
  color: #fff;
  
  .project__image {
    padding-bottom: 10px;
  }
  
  .project__image-img {
    max-width: 480px;
  }

  .project__title {
    margin-bottom: 70px;
  }
}

.project--important {
  width: 100%;
  font-size: 1.167rem;
  
  @media (--medium-screen) {
    width: 50%;
  }
}

.project--important .project__image {
  min-height: 260px;

  @media (--large-screen) {
    min-height: 300px;
  }
}


.what-clients-say {
  margin: 40px 0;
  padding: 60px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  
  text-align: center;
  
  &__quote {
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0;
  }
  
  &__details {
    margin-top: 1rem;
    font-size: 0.8889rem;
  }

  &__userpic {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    position: relative;
    top: -1px;
  }

  &__author-about,
  &__author-about a {
    color: var(--text-muted);
  }

  &__author-about a:hover {
    color: var(--text-color);
  }
}



.project__image--bkk-timetable {
  background-color: #500b43;
  background-image: url('/i/projects/bkk-timetable/thumb.png');
  background-position: 50% 10px;
}





/* Plyr (Custom video plugin) additional styles  */

.plyr {
  border-radius: 3px;
}

@media (width >= 500px) {
  .plyr {
    border-radius: 6px;
  }

  .plyr--youtube .plyr__play-large {
    padding: 20px;
    border-width: 5px;
    
    svg {
      width: 25px;
      height: 25px;
    }
  }
}
