/*
 * Projects
 * ========
 *
 */

.hero {
  background-size: cover;
  padding: 130px 0 75px;
  text-align: center;
  background-color: #f5f7f9;
}

.hero__title-wrapper {
  margin-bottom: 40px;
}

.hero__title {
  margin-bottom: 0;
}

.hero__description {
  margin-top: 0.5em;
  color: var(--text-muted);
  font-size: 0.9em;
}

.hero__link-wrapper {
  margin-top: 0.5em;
}

.hero__link {
  font-size: 0.9em;
  font-weight: 500;
}

.hero__figure {
  text-align: center;
  margin-bottom: 0;
  
  &--screenshot {
    @media (--medium-screen) {
      margin-top: 50px;
    }
  }

  &--screenshot .hero__image {
    box-shadow: 0 23px 38px rgba(0, 0, 0, 0.43),
                0 25px 65px rgba(0, 0, 0, 0.10);
  }
  
  &--with-subtle-shadow .hero__image {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  }

  &--with-rounded-corners .hero__image {
    border-radius: 4px;
  }
}

.hero__image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  /* animation-name: fadeInUpHeroImage;
  animation-duration: 1.5s;
  animation-fill-mode: both; */
}

.has-dark-header .hero {
  color: #fff;
  
  .hero__title {
    color: #fff;
  }

  a {
    color: #fff;
    border-bottom: 1px solid rgba(#fff, 0.25);
  }

  .hero__description {
    color: rgba(#fff, 0.7);
  }
}

.hero--zero-bottom {
  padding-bottom: 0;
}

.project-story {
  padding-top: 70px;
  background-color: #fff;
  position: relative;
  z-index: 5;
}


.page-projects .main {
  margin: 0;
}

.page-project .main {
  margin-top: 0;
}

.important-projects,
.rest-of-the-projects {
  font-size: 0;
  
  @media (--medium-screen) {
    /* display: flex; */
    /* margin-top: 80px; */
    /* margin-right: -20px; */
    /* margin-left: -20px; */
  }

  @media (--large-screen) {
    /* margin-top: 100px; */
    /* margin-right: -25px; */
    /* margin-left: -25px; */
  }

  @media (--x-large-screen) {
    /* margin-right: -30px; */
    /* margin-left: -30px; */
  }
}

.rest-of-the-projects {
  @media (--medium-screen) {
    /* flex-wrap: wrap; */
  }
}

.rest-of-the-projects .project {
  width: 100%;
  
  @media (--medium-screen) {
    width: 50%; 
  }

  @media (--large-screen) {
    width: 33.333%; 
  }
}

.project {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  background-color: #999;

  min-height: 300px;
  
  /* margin-bottom: calc(var(--baseline) * 2); */
  
  @media (--medium-screen) {
    /* flex: 1 0 auto; */
    /* padding: 0 20px; */
    /* max-width: 50%; */
  }
  
  @media (--large-screen) {
    /* margin-bottom: calc(var(--baseline) * 2.5); */
    /* padding: 0 25px; */
    /* max-width: 33.3333%; */
  }

  @media (--x-large-screen) {
    /* padding: 0 30px; */
  }
}

.project__link {
  display: block;
  min-height: 300px;
  position: relative;
  overflow: hidden;
  /* transition: opacity 0.2s ease-out; */
}

.project__link:hover .project__img {
  transform: scale(1.03);
}

.project__link:active .project__img {
  opacity: 0.95;
  transition-duration: 0.01s;
}

.project__img {
  position: absolute;
  max-width: 100%;
  left: 30px;
  transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  
  @media (--large-screen) {
    left: 40px;
  }
}

.project__image {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 300px;
  opacity: 1;
  transition: opacity 0.2s ease-out;

  /* background-color: #eee; */
  background-repeat: no-repeat;
  background-position: 50% 50%;
  
  &-img {
    display: inline-block;
  }
}

.project__title {
  display: inline-block;
  line-height: 1.4;
  
  position: relative;
  z-index: 10;
  margin-top: 25px;
  /* left: 0; */
  padding: 0 30px;
  color: #fff;
  
  max-width: 460px;
  
  @media (--large-screen) {
    margin-top: 30px;
    padding: 0 40px;
  }
}

.featured-project {
  text-align: center;
  padding: 180px 0 100px;
  /* font-size: 1.4em; */
  margin-bottom: 0;
  
  @media (--medium-screen) {
    padding: 150px 0;
  }

  .project {
    flex: none;
    padding: 0;
    margin: 0;
    max-width: none;
    min-height: 0;
    background-color: transparent;
  }
  
  .project__image {
    margin-bottom: 0;
    border-radius: 0;
    opacity: 1 !important;
    min-height: 0;
  }

  .project__image-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
    
    @media (--large-screen) {
      margin-bottom: 35px;
    }
  }
  
  .project__link {
    color: inherit;
    min-height: 0;
  }

  .project__title {
    font-size: 2em;
    position: static;
    padding: 0;
  }

  .project__description {
    margin-top: 0.2em;
    color: rgba(#fff, 0.7);
    /* font-size: 0.9em; */
    /* margin-bottom: 40px; */
  }
}

.featured-project--uz {
  background-color: #0fa7d8;
  color: #fff;
  
  .project__image-img {
    box-shadow: 0 2px 5px rgba(#000, 0.2);
    border-radius: 2px;
    
    @media (--medium-screen) {
      border-radius: 4px;
    }
  }
}

.featured-project--nic {
  background-color: #78bd17;
  /* background-image: linear-gradient(0deg, #A8DD1E 0%, #619D0C 100%); */
  background-image: linear-gradient(45deg, #A8DD1E 0%, #619D0C 100%);
  color: #fff;
  
  .project__image-img {
    width: 100%;
    max-width: 480px;
  }
}

.project--important {
  width: 100%;
  font-size: 1.167rem;
  
  @media (--large-screen) {
    width: 50%;
  }
}

.project--important .project__link,
.project--important .project__image {
  min-height: 320px;

  @media (--medium-screen) {
    min-height: 440px;
  }
}

.project--childrens-railway {
  .project__title {
    color: #465c61;
  }
}


.what-clients-say {
  padding: 120px 0;
  /* border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; */
  
  text-align: center;
  
  &__quote {
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0;
  }
  
  &__details {
    margin-top: 1rem;
    font-size: 0.8889rem;
  }

  &__userpic {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    position: relative;
    top: -1px;
  }

  &__author-about,
  &__author-about a {
    color: var(--text-muted);
  }

  &__author-about a:hover {
    color: var(--text-color);
  }
}



/* .project--childrens-railway .project__link {
  background: #d5ebee url('/i/projects/childrens-railway/teaser.png') no-repeat left 50% bottom -20px;
  
  @media 
  (-webkit-min-device-pixel-ratio: 1.5), 
  (min-resolution: 144dpi) {
    background-image: url('/i/projects/childrens-railway/teaser@2x.png');
    background-size: 562px 348px;
  }
} */

.project--childrens-railway {
  background-color: #d5ebee;
  
  .project__img {
    bottom: -25px;
  }
}

.project--nic-newyear {
  background-color: #0c1a7f;
  /* background-size: 800px 440px; */
  
  .project__img {
    left: 50%;
    margin-left: -225px;
    bottom: 25px;
  }
}

.project--uz-boarding-pass {
  background-color: #3a405a;
  
  .project__img {
    top: 120px;
  }
}

.project--bkk-timetable {
  background-color: #3f093b;
  
  .project__img {
    top: 120px;
  }
}

.project--tram-map {
  background-color: #ffd03b;
}


.project__image--bkk-timetable {
  background-color: #500b43;
  background-image: url('/i/projects/bkk-timetable/thumb.png');
  background-position: 50% 10px;
}


/* Plyr (Custom video plugin) additional styles  */

.plyr {
  border-radius: 3px;
}

@media (width >= 500px) {
  .plyr {
    border-radius: 6px;
  }

  .plyr--youtube .plyr__play-large {
    padding: 20px;
    border-width: 5px;
    
    svg {
      width: 25px;
      height: 25px;
    }
  }
}
