/*
 * Quote
 * =====
 *
 * Post-quote type styling
 *
 */

.post-quote {
  margin-bottom: 0.5em;
  padding-left: 0;
  border-left: none;  
  text-align: center;

  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  line-height: 1.4;
  
  @media (--medium-screen) {
    font-size: 36px;
  }

  @media (--large-screen) {
    font-size: 42px;
    margin-left: -140px;
    width: 980px;
  }
}

.post-quote__link {
  color: inherit;
}

.post-quote__author {
  text-align: right;
}
