/*
 * Sharing
 * =========
 *
 */

.share {
  margin-top: 30px;
  text-align: center;
  
  @media (--medium-screen) {
    margin-top: 50px;
  }
}

.share__item {
  display: inline-block;
}

.share__link {
  display: block;
  width: 54px;
  height: 54px;
  text-align: center;
  color: #8a9dad;
  padding-top: 12px;
  border: 2px solid transparent;
  border-radius: 27px;
  transition: all 0.15s ease-in-out;

  &:hover,
  &:focus {
    transition: border-color 0.025s ease-in-out;
  }
}

.share__link--facebook:hover,
.share__link--facebook:focus {
  border-color: rgba(var(--facebook-color), 0.9);
}

.share__link--twitter:hover,
.share__link--twitter:focus {
  border-color: rgba(var(--twitter-color), 0.9);
}

.share__link--vk:hover,
.share__link--vk:focus {
  border-color: rgba(var(--vk-color), 0.9);
}

.share__icon {
  display: inline-block;
  fill: color(var(--link-color) s(-70%) a(50%));
  transition: fill 0.15s ease-in-out;
  
  &:hover,
  &:focus {
    transition: fill 0.025s ease-in-out;
  }
}

.share__link--facebook:hover .share__icon,
.share__link--facebook:focus .share__icon {
  fill: var(--facebook-color);
}

.share__link--twitter:hover .share__icon,
.share__link--twitter:focus .share__icon {
  fill: var(--twitter-color);
}

.share__link--vk:hover .share__icon,
.share__link--vk:focus .share__icon {
  fill: var(--vk-color);
}


.share__label {
  display: none;
}
