---
layout: default
title: Олександр Зайцев — Блог
ogtype: website
plyr: true
---

<main class="main posts-list">
  <div class="container">
    {% assign language_note = false %}

    {% for post in paginator.posts %}
      {% assign post_date = post.date | date: "%Y-%m-%d" %}

      {% if post_date >= "2023-04-30" or page.url contains "blog/page" %}
        {% include post-layout.html %}

      {% else %}
        {% if language_note == false %}
          {% comment %}Close .container so .language-note can take the full screen width{% endcomment %}
          </div>

          <section class="language-note">
            <div class="container">
              <p>Починаючи з травня 2023 року веду блог українською мовою. Нижче — старі пости, на російській мові.</p>
            </div>
          </section>

          {% comment %}Open .language-note again{% endcomment %}
          <div class="container">

          {% assign language_note = true %}
        {% endif %}

        {% include post-layout.html %}
      {% endif %}
    {% endfor %}
  </div>
</main>

{% comment %}
  It might be confusing, but "paginator.next_page" corresponds to ".paginator__prev",
{% endcomment %}

<div class="paginator clearfix">
  {% if paginator.next_page %}
    <a class="paginator__link paginator__prev{% if paginator.page == 1 %} paginator__link--wide{% endif %}" href="/blog/page{{ paginator.next_page }}">Раніше</a>
  {% endif %}

  {% if paginator.page == 2 %}
    <a class="paginator__link paginator__next" href="/">Пізніше</a>
  {% elsif paginator.page > 2 %}
    <a class="paginator__link paginator__next{% unless paginator.next_page %} paginator__link--wide{% endunless %}" href="/blog/page{{ paginator.previous_page }}">Пізніше</a>
  {% endif %}
</div>
