---
layout: default
title: Блог
ogtype: website
---

<main class="main posts-list">
  <div class="container">
    {% for post in paginator.posts %}
      
      <article class="post">
      
        {% if post.layout != 'quote' %}
          <header class="post__header">
            {% include date.html post-date=post.date %}
            <h2 class="post__title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
          </header>
        {% endif %}

        <section class="post__content">
        {% if post.layout == 'post' %}
          
            {% if post.introimg %}
              <figure class="figure--intro">
                <a href="{{ post.url }}"><img src="/i{{ post.url | remove_first:'/blog' }}{{ post.introimg }}" alt="{% if post.alt %}{{ post.alt }}{% else %}{{ post.title }}{% endif %}"></a>
              </figure>
            {% endif %}
            
            {% if post.content contains '<!-- more -->' %}
              {{ post.content | split:'<!-- more -->' | first | markdownify }}
              <div class="read-more">
                <a class="read-more__link" href="{{ post.url }}">Читать дальше ›</a>
              </div>
            {% elsif post.content contains '<!-- more-enlarge -->' %}
              {{ post.content | split:'<!-- more-enlarge -->' | first | markdownify }}
              <div class="read-more">
                <a class="read-more__link" href="{{ post.url }}">Посмотреть поближе ›</a>
              </div>
            {% else %}
              {{ post.content | markdownify }}
            {% endif %}

          {% elsif post.layout == 'quote' %}
            <blockquote class="post-quote"><a class="post-quote__link" href="{{ post.url }}">{{ post.content }}</a></blockquote>

            {% if post.author and post.author-link == null %}
              <p class="post-quote__author"><cite>— {{ post.author }}</cite></p>
            {% elsif post.author and post.author-link %}
              <p class="post-quote__author"><cite>— <a href="{{ post.author-link }}">{{ post.author }}</a></cite></p>
            {% endif %}

          {% endif %}
            
        </section>

      </article>
    {% endfor %}
  
  </div>

</main>

{% comment %}
  It might be confusing, but "paginator.next_page" corresponds to ".paginator__prev",
{% endcomment %}

<div class="paginator clearfix">
  {% if paginator.next_page %}
    <a class="paginator__link paginator__prev{% if paginator.page == 1 %} paginator__link--wide{% endif %}" href="/blog/page{{ paginator.next_page }}">Ранее</a>
  {% endif %}
  
  {% if paginator.page == 2 %}
    <a class="paginator__link paginator__next" href="/">Позднее</a>
  {% elsif paginator.page > 2 %}
    <a class="paginator__link paginator__next{% unless paginator.next_page %} paginator__link--wide{% endunless %}" href="/blog/page{{ paginator.previous_page }}">Позднее</a>
  {% endif %}
</div>