---
layout: default
title: Книги
permalink: /lists/books/
---

<main class="main">
  <div class="container container--full">
    <header class="page-header">
      <h1 class="page-header__title">Прочитав і сподобалось</h1>
      <div class="page-header__description">
        Назви вказані тією мовою, якою я читав ту чи іншу книгу.
      </div>
    </header>

    {% for data in site.data.books %}
      {% assign year = data[0] %}
      {% assign books = data[1] %}
      {% assign favoriteBooks = data[1] | where: "favorite", "true" %}

      <h2>{{ year }}</h2>

      <ul class="books">
        {% for book in books %}
          <li class="books__item">
            <span>
              <strong class="books__name">
                {{- book.name -}}
                &nbsp;
                {%- if book.favorite -%}
                  <span class="books__star">★</span>
                {%- endif -%}
              </strong>
              <span class="books__details">
                <span class="books__author">
                  {{ book.author }}
                </span>
                {%- if book.rating %}
                  &nbsp;&middot;&nbsp;
                  <span class="books__rating">{{ book.rating }}/10</span>
                {%- endif %}
                {%- if book.notes %}
                  &nbsp;&middot;&nbsp;
                  <a class="books__notes-link link-underlined" href="{{ book.notes }}">Нотатки</a>
                {%- endif %}
              </span>
            </span>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}

  </div>
</main>
