---
layout: default
title: Bucket list
permalink: /lists/bucket-list/
class: 'page-bucket-list'
---

<main class="main">
  <div class="container container--full">
    {% assign data = site.data.bucket-list %}
    {% assign all_items = data.done | concat: data.todo %}
    {% assign all_items_sorted = all_items | sort %}

    <header class="page-header">
      <h1 class="page-header__title">
        {{ page.title }}
        <span class="title-counter">{{ data.done | size }}/{{ all_items | size }}</span>
      </h1>
    </header>

    <ul class="checklist">
      {% for item in all_items_sorted %}
        <li class="checklist__item{% if data.done contains item %} checklist__item--done{% endif %}">
          <span>{{ item | liquify | markdownify | remove: "<p>" | remove: "</p>" }}</span>
        </li>
      {% endfor %}
    </ul>

  </div>
</main>
