---
layout: default
title: Авіаперельоти
permalink: /lists/flights/
class: 'page-flights'
---

<main class="main">
  <div class="container container--full">
    <header class="page-header">
      {% assign flights = site.data.flights %}
      <h1 class="page-header__title">Авіаперельоти <span class="title-counter">{{ flights.size }}</span></h1>
      <!-- <p class="page-header__description">25 полетов. Обновлено в июне 2017 г.</p> -->

      <!-- {{ flights.size }} -->
    </header>

    <table class="table table--compact table--flights">
      <thead>
        <tr>
          <th>Дата</th>
          <th>Звідки</th>
          <th>Куди</th>
          <th>Авіакомпанія</th>
          <th>Літак</th>
          <th style="width: 400px;">Нотатки</th>
        </tr>
      </thead>
      <tbody>
        {% assign flightsByYear = site.data.flights | group_by_exp: "flight", "flight.date | date: '%Y'" %}

        {% for year in flightsByYear %}
          <tr class="table__title-row">
            <td colspan="6">
              <h2>{{ year.name }}</h2>
            </td>
          </tr>

          {% for flight in year.items %}
            <tr>
              <td class="nowrap">
                {{ flight.date | date: "%e" }}
                {{ flight.date | date: "%m" | replace: "01", " січня" | replace: "02", " лютого" | replace: "03", " березня" | replace: "04", " квітня" | replace: "05", " травня" | replace: "06", " червня" | replace: "07", " липня" | replace: "08", " серпня" | replace: "09", " вересня" | replace: "10", " жовтня" | replace: "11", " листопада" | replace: "12", " грудня" }}
              </td>
              <td class="nowrap">
                <span class="page-flights__flag">{{ flight.from.country }}</span> {{ flight.from.city }}
              </td>
              <td class="nowrap">
                <span class="page-flights__flag">{{ flight.to.country }}</span> {{ flight.to.city }}
              </td>
              <td>{{ flight.company }}</td>
              <td>{{ flight.aircraft }}</td>
              <td>
                {% if flight.comment %}
                  {{ flight.comment | markdownify }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
