---
layout: default
title: Кино
permalink: /lists/movies/
class: 'page-movies'
---

<main class="main">
  <div class="container container--full">
    <header class="page-header">
      <h1 class="page-header__title">Рекомендую кино</h1>
      <p class="page-header__description">Я редко смотрю кино и не видел большинство фильмов, считающихся культовыми. Но, возможно, вам будет интересно посмотреть (или пересмотреть) что-то из этого списка. Самые любимые фильмы отмечены звездами.</p>
    </header>

    {% for data in site.data.movies %}
      {% assign year = data[0] %}
      {% assign movies = data[1] %}

      <h2>{{ year }}</h2>
      <ul class="movies">
        {% for movie in movies %}
          <li class="movies__item{% if movie.favorite %} movies__item--favorite{% endif %}">
            <strong class="movies__name">{{ movie.name }}</strong>
            <span class="movies__details">
              {% if movie.original_name %}{{ movie.original_name }} · {% endif %}
              {{ movie.released }}
            </span>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
</main>
