body {
  overflow-x: hidden;
}

.new-pass-wrapper {
  text-align: center;
}

.new-pass {
  display: block;
  border-radius: 0;
  box-shadow: 0 1px 1px #c0c0c0;
}

@media screen and (min-width: 1000px) {

  .new-pass-wrapper {
    background-color: #f2f2f2;
    overflow: hidden;
    margin: 30px -2000px;
    padding: 40px 0;
  }

  .new-pass-wrapper figure {
     width: 1020px;
     margin: 0 auto;
  }

  .new-pass {
    opacity: 0;
  }

  .new-pass-animate {
    animation-name: fadeInUp;
    animation-duration: 1.5s;
    animation-fill-mode: both;
  }
}
