<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic|PT+Serif:700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">

  <title>{{ page.title }}</title>
</head>

<body>

<header role="banner">
  <section class="container">
    <a href="/" class="logo">nqst.net</a>
  </section>
</header>

{{ content }}

<footer role="footer">
  <section class="container">
    <div class="bio">
      <div class="userpic">
        <img src="/i/photo.jpg" width="112" height="112">
      </div>
      <div class="bio-text">
        <h3>Александр Зайцев</h3>
        <p>Я занимаюсь дизайном и разработкой хороших сайтов и интерфейсов. Работаю в <a href="http://psyho.ua/">Psyho</a>, живу в Днепропетровске.</p>

        <p>Пишите: <a href="mailto:mailbox@nqst.net">mailbox@nqst.net</a></p>
        <p><a href="http://twitter.com/nqst" class="you-should-follow-me-on-twitter-here">Читайте меня в твиттере</a></p>
      </div>
    </div>
    <!-- <a class="rss-subscriber" href="#">RSS</a> -->
  </section>
</footer>

</body>
</html>
