---
layout: default
ogtype: article
class: layout-letters
noFooter: true
---

<main class="main main--post main--letter">
  <div class="container container--medium container--letter">

    <article class="post letter-paper">
      <header class="post__header">

        {%- if page.illustration %}
        <div class="letter-paper__illustration">
          <img src="/i/letters/{{ page.illustration }}"
               width="{{ page.illustration_width | default: 300 }}"
               {%- if page.illustration_class %}
                 class="letter-paper__img-{{ page.illustration_class }}"
               {% endif %}
               alt="">
        </div>
        {%- endif %}

        <h1 class="post__title">{{ page.title }}</h1>
      </header>

      <section class="post__content">
        {{ content }}

        <div class="letter-paper__footer">
          <div class="letter-paper__signature">
            <img src="/i/letters/signature.png" width="160" height="32" alt="Твій тато">
          </div>
          <div class="letter-paper__date">{{ page.date_published }}</div>
        </div>
      </section>
    </article>
  </div>
</main>
