---
layout: default
ogtype: article
---

<main class="main main--post">

  {%- if page.epigraph %}
  <div class="container epigraph-container">
    <div class="epigraph">
      <div class="epigraph__text">
        {{ page.epigraph_text }}
      </div>

      <div class="epigraph__author">
        {{ page.epigraph_author }}
      </div>
    </div>
  </div>
  {%- endif %}

  <header class="post__header{% if page.introimg %} post__header--wide{% endif %}">
    <div class="container">
      {% include date.html post-date=page.date %}
      <h1 class="post__title">{{ page.title }}</h1>
    </div>
  </header>

  {% if page.introimg and page.cover != true %}
  <div class="container {% if page.widepost %}container--full{% else %}container--wide{% endif %}">
    <figure class="intro-image{% if page.widepost %} intro-image--full{% endif %}">
      <img src="/i/blog{{ page.id | remove_first:'/blog' }}/{{ page.introimg }}" alt="{{ page.title }}">
    </figure>
  </div>
  {% endif %}

  <div class="container{% if page.widepost %} container--full{% endif %}{% if page.medium_width %} container--medium{% endif %}">
    <article class="post">

      <section class="post__content">

        {% if page.cover %}
          <!-- <img class="post__cover" src="/i/blog{{ page.id | remove_first:'/blog' }}/{{ page.introimg }}" alt="{{ page.title }}"> -->
          <div class="post__cover" style="background-image: url(/i/blog{{ page.id | remove_first:'/blog' }}/{{ page.introimg }})"></div>
        {% endif %}

        {% if page.beforeinfo %}
          <p><span class="hint">{{ page.beforeinfo }}</span></p>
        {% endif %}

        {{ content }}

        {% if page.credits %}
          <p class="post__credits">{{ page.credits }}</p>
        {% endif %}
      </section>

    </article>

    {% include share.html %}
    {% include mhd.html %}


    <!-- <hr> -->

    <!-- {% include telegram.html %} -->

  </div>

  {% unless page.comments == false %}
    <section class="comments">
      <div class="container">
        <div id="disqus_thread"></div>
        <script>
        var disqus_config = function () {
        this.page.url = "{{ site.url }}{{ page.url }}";
        this.page.identifier = "{{ page.id }}";
        };

        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://zaytsev-io.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </div>
    </section>
  {% endunless %}

</main>

{% include paginator-inner.html %}
