---
layout: default
ogtype: article
---

<main class="main main--inner">

  <div class="container">
    <article class="post">

      <header class="post__header">
        {% include date.html post-date=page.date %}
        <h1>{{ page.title }}</h1>
      </header>

      <section class="post__content">

        {% if page.cover %}
          <!-- <img class="post__cover" src="/i{{ page.id | remove_first:'/blog' }}/{{ page.introimg }}" alt="{{ page.title }}"> -->
          <div class="post__cover" style="background-image: url(/i{{ page.id | remove_first:'/blog' }}/{{ page.introimg }})"></div>
        {% endif %}

        {% if page.introimg and page.cover != true %}
          <figure class="figure--intro">
            <img src="/i{{ page.id | remove_first:'/blog' }}/{{ page.introimg }}" alt="{{ page.title }}">
          </figure>
        {% endif %}

        {% if page.beforeinfo %}
          <p><span class="hint">{{ page.beforeinfo }}</span></p>
        {% endif %}

        {{ content }}
        
        {% if page.credits %}
          <p class="post__credits">{{ page.credits }}</p>
        {% endif %}
      </section>

    </article>

    <!-- <div class="post__share">
      {% include share.html %}
    </div> -->

    <hr>

    {% include telegram.html %}

  </div>

  {% include paginator-inner.html %}

</main>