---
layout: default
---

{% assign page_slug = page.url | remove: 'projects' | remove: '/' %}

<main class="main">
  <section class="hero hero--{{ page_slug }}{% if page.hero.cover %} hero--has-cover{% endif %}{% if page.hero.zero_bottom %} hero--zero-bottom{% endif %}"{% if page.hero.style %} style="{{ page.hero.style }}"{% endif %}>

    <div class="container container--wide">
      <div class="hero__title-wrapper">
        <h1 class="hero__title">{{ page.title }}</h1>
        
        {% if page.description %}
          <div class="hero__description">
            {% if page.description.year %}
              {{ page.description.year }}
            {% endif %}

            {% if page.description.year and page.description.text %}
              •
            {% endif %}
            
            {% if page.description.text %}
              {{ page.description.text }}
            {% endif %}
          </div>
        {% endif %}

        {% if page.ext-link %}
          <div class="hero__link-wrapper">
            <a class="hero__link" href="{{ page.ext-link }}">{{ page.ext-link | remove: 'http://' | remove: 'https://' }}</a>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="container {% if page.hero.full_width or page.hero.screenshot %}container--full{% else %}container--wide{% endif %}">
      <figure class="hero__figure{% if page.hero.figure.shadow %} hero__figure--with-subtle-shadow{% endif %}{% if page.hero.screenshot %} hero__figure--screenshot{% endif %}{% if page.hero.figure.rounded-corners %} hero__figure--with-rounded-corners{% endif %}">

        {% if page.hero.video %}
          {{ page.hero.video }}
        {% else %}
          {% if page.ext-link %}<a href="{{ page.ext-link }}">{% endif %}
          <img class="hero__image" src="/i{{ page.permalink }}{{ page.hero.image }}"{% if page.hero.image2x %} srcset="/i{{ page.permalink }}{{ page.hero.image2x }} 2x"{% endif %} alt="{{ page.title }}">
          {% if page.ext-link %}</a>{% endif %}
        {% endif %}
      </figure>
    </div>
  </section>

  <section class="project-story">
    <div class="container{% if page.widecontent %} container--wide{% endif %}">
      <article>
        {{ content }}
      </article>
    </div>
  </section>
  
</main>
