---
layout: default
ogtype: article
---

<main class="main main--inner">

  <div class="container container--quote">
    <article class="post">

      <section class="post__content">
        <blockquote class="post-quote">{{ page.content }}</blockquote>

        {% if page.author and page.author-link == null %}
          <p class="post-quote__author"><cite>— {{ page.author }}</cite></p>
        {% elsif page.author and page.author-link %}
          <p class="post-quote__author"><cite>— <a href="{{ page.author-link }}">{{ page.author }}</a></cite></p>
        {% endif %}
      </section>

    </article>
  </div>
  
</main>

{% include paginator-inner.html %}